name: Flatpak CI

on:
  push:
    branches:
      - main
      - stable*
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Flatpak for ${{ matrix.arch.name }}
    runs-on: ${{ matrix.arch.runs_on }}
    container:
      image: ${{ matrix.arch.image }}
      options: --privileged
    strategy:
      fail-fast: true
      matrix:
        arch:
        - {
            name: "x86-64",
            id: "x86_64",
            sdk_ver: "22.08",
            runs_on: "ubuntu-latest",
            image: "arm64v8/ubuntu:22.04"
          }
        - {
            name: "arm64",
            id: "aarch64",
            sdk_ver: "22.08",
            runs_on: "ubuntu-24.04-arm",
            image: "ubuntu:22.04"
          }
        exclude:
          - arch: {
              name: "${{ (github.event_name == 'workflow_dispatch' && ' ') || 'arm64' }}",
              id: "${{ (github.event_name == 'workflow_dispatch' && ' ') || 'aarch64' }}",
              sdk_ver: "22.08"
            }
    steps:
    - name: Check for the upload support
      id: upload-check
      shell: bash
      run: |
        if [[ "${{ secrets.builds_login }}" != '' && \
              "${{ secrets.builds_password }}" != '' && \
              "${{ secrets.builds_host }}" != '' ]]; then
          echo "available=true" >> $GITHUB_OUTPUT;
        else
          echo "available=false" >> $GITHUB_OUTPUT;
        fi

    - name: Install Ubuntu Dependencies
      shell: bash
      run: |
        apt update --fix-missing -y
        apt upgrade -y

        apt install -y flatpak flatpak-builder qemu-user-static p7zip-full git lftp

        update-binfmts --enable qemu-aarch64
        update-binfmts --enable qemu-arm

    - name: Install flatpak Dependencies
      shell: bash
      run: |
        flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
        flatpak install -y flathub org.freedesktop.Platform/${{ matrix.arch.id }}/${{ matrix.arch.sdk_ver }} org.freedesktop.Sdk/${{ matrix.arch.id }}/${{ matrix.arch.sdk_ver }}

    - uses: TheXTech/branch-name@v0.1


    - uses: TheXTech/checkout@v0.1

    - name: Pull submodules
      shell: bash
      run: |
        git config --global --add safe.directory '*'
        git submodule update --init --recursive

    - name: Create flatpak manifest YML
      id: make-yml
      shell: bash
      run: |
        export REPO_PATH="$(pwd)"
        export REPO_PATH_SED="$(pwd | sed 's_/_\\/_g')"
        export BRANCH_NAME_SED="$(echo $BRANCH_NAME | sed 's_/_\\/_g')"
        cd ..
        cat $REPO_PATH/resources/flatpak/build.yml \
          | sed "s/- type: git/- type: dir/" \
          | sed "s/url: https:.*/path: $REPO_PATH_SED/" \
          | sed "s/OVERRIDE_GIT_BRANCH=/OVERRIDE_GIT_BRANCH=$BRANCH_NAME_SED/" \
          | tee ci-build.yml

    - name: Build flatpak
      shell: bash
      run: |
        cd ..
        flatpak-builder --arch=${{ matrix.arch.id }} --force-clean --repo=temp_repo temp_build ci-build.yml

    - name: Create bundle
      shell: bash
      run: |
        mkdir -p package
        # ru.wohlsoft.TheXTech is the package id, and dev is the branch
        flatpak build-bundle --arch=${{ matrix.arch.id }} ../temp_repo package/thextech-${{ matrix.arch.name }}.flatpak ru.wohlsoft.TheXTech dev

    - name: Upload artifact
      if: success()
      uses: actions/upload-artifact@v4
      continue-on-error: true
      with:
        path: package/thextech-${{ matrix.arch.name }}.flatpak
        name: TheXTech (${{ matrix.arch.name }})

    - name: Deploy to builds.wohlsoft.ru
      if: success() && github.event_name != 'pull_request' && steps.upload-check.outputs.available == 'true'
      continue-on-error: true
      shell: bash
      run: |
        cd package
        mv "thextech-${{ matrix.arch.name }}.flatpak" "thextech-${BRANCH_NAME}-${{ matrix.arch.name }}.flatpak"

        UPLOAD_LIST="set ssl:verify-certificate no;"
        UPLOAD_LIST="${UPLOAD_LIST} put -O www/flatpak thextech-${BRANCH_NAME}-${{ matrix.arch.name }}.flatpak;"

        lftp -e "${UPLOAD_LIST} exit" -u ${{ secrets.builds_login }},${{ secrets.builds_password }} ${{ secrets.builds_host }}
