name: Switch CI

on:
  push:
    branches:
      - main
      - devel
      - wip-switch-port
  pull_request:
    branches:
      - main

jobs:
  build:
    name: ${{ matrix.config.name }} | ${{ matrix.config.build_type }}
    runs-on: ubuntu-latest
    container: devkitpro/devkita64
    env:
        DEVKITPRO: /opt/devkitpro
        DEVKITA64: /opt/devkitpro/devkitA64
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            name: "Switch build",
            extra_options: "-DTHEXTECH_EXECUTABLE_NAME=thextech -DCMAKE_TOOLCHAIN_FILE=$DEVKITPRO/cmake/Switch.cmake -DCMAKE_PREFIX_PATH=/opt/devkitpro/portlibs/switch-local -DCMAKE_INSTALL_PREFIX=$DEVKITPRO/portlibs/switch",
            deps_cmdline: "sudo apt-get update -qq && sudo apt-get install -qq cmake ninja-build cmake ninja-build lftp git-core python zip apt-transport-https",
            generator: "Ninja",
            build_type: "MinSizeRel",
            executable_name: "thextech",
            assets_url: "https://wohlsoft.ru/projects/TheXTech/_downloads/thextech-adventure-of-demo-assets-full.7z",
            subdir_name: "thextech-switch",
            upload_directory: "www/switch/"
          }

    steps:
    - uses: styfle/cancel-workflow-action@0.11.0
      with:
        workflow_id: switch-ci.yml
        all_but_latest: true
        access_token: ${{ github.token }}

    - uses: actions/checkout@v1

    - uses: nelonoel/branch-name@v1.0.1

    - name: Install Dependencies
      shell: bash
      run: |
        if [[ ! -z "${{ matrix.config.deps_cmdline }}" ]]; then
          eval ${{ matrix.config.deps_cmdline }}
        fi
        # Pull submodules
        git submodule init
        git submodule update --recursive --remote

#    - name: Install Devkit Pro
#      run: |
#        cd ..
#        sudo chmod 755 /opt
#        if [[ ! -f /usr/local/share/keyring/devkitpro-pub.gpg ]]; then
#            sudo mkdir -p /usr/local/share/keyring/
#            sudo wget -O /usr/local/share/keyring/devkitpro-pub.gpg https://apt.devkitpro.org/devkitpro-pub.gpg
#        fi
#
#        if [[ ! -f /etc/apt/sources.list.d/devkitpro.list ]]; then
#            echo "deb [signed-by=/usr/local/share/keyring/devkitpro-pub.gpg] https://apt.devkitpro.org stable main" | sudo tee -a /etc/apt/sources.list.d/devkitpro.list
#        fi
#
#        sudo apt-get update -qq
#        sudo apt-get install -qq devkitpro-pacman
#
#        sudo dkp-pacman --noconfirm -Sy
#        sudo dkp-pacman --noconfirm -Syu
#        sudo dkp-pacman --noconfirm -Sy switch-dev switch-libpng switch-libjpeg-turbo switch-zlib switch-tools switch-cmake switch-mesa switch-libdrm_nouveau switch-glm switch-glad

    - name: Install modified SDL2
      run: |
        cd ..
        git clone https://github.com/Wohlstand/SDL.git -b switch-sdl2-2.0.14-dev --depth 1 SDL2
        cd SDL2
        mkdir build
        cd build
        cmake -G Ninja -DCMAKE_TOOLCHAIN_FILE=$DEVKITPRO/cmake/Switch.cmake -DCMAKE_PREFIX_PATH=/opt/devkitpro/portlibs/switch-local -DCMAKE_PREFIX_PATH=/opt/devkitpro/portlibs/switch-local ..
        cmake --build . --target all -j4
        sudo cmake --build . --target install

    - name: Configure
      shell: bash
      run: |
        cmake -B build -G "${{ matrix.config.generator }}" -DCMAKE_BUILD_TYPE=${{ matrix.config.build_type }} ${{ matrix.config.extra_options }} .

    - name: Build
      shell: bash
      run: |
        cmake --build build --target all -j4

    - name: Create Package
      if: success()
      shell: bash
      run: |
        if [[ "${BRANCH_NAME}" == *"merge"* ]]; then
            BRANCH_NAME_RES="pull-request"
            echo "-- Pull-request detected!"
        else
            BRANCH_NAME_RES=${BRANCH_NAME}
        fi

        cd build
        mkdir package
        mkdir "package/${{ matrix.config.subdir_name }}"
        cp ../changelog.txt "package/${{ matrix.config.subdir_name }}/"
        cp ../LICENSE "package/${{ matrix.config.subdir_name }}/License.TheXTech.txt"
        cat ../docs/README_SWITCH.md ../README.md >> "package/${{ matrix.config.subdir_name }}/README.md"
        cp output/bin/thextech.nro "package/${{ matrix.config.subdir_name }}/"
        cd package
        zip -9 -r "thextech-switch-${BRANCH_NAME_RES}.zip" "${{ matrix.config.subdir_name }}"
        rm -Rf "${{ matrix.config.subdir_name }}"
        cd ../..

    - name: Upload artifact
      if: success()
      uses: actions/upload-artifact@v3
      with:
        path: build/package/*.zip
        name: ${{ matrix.config.name }} ${{ matrix.config.build_type }}

    - name: Deploy to builds.wohlsoft.ru
      if: success() && github.event_name != 'pull_request'
      shell: bash
      run: |
        if [[ ! -z "${{ matrix.config.extra_path }}" ]]; then
          export PATH=${{ matrix.config.extra_path }}:${PATH}
        fi
        UPLOAD_LIST="set ssl:verify-certificate no;"
        for q in ./build/package/*.zip; do
            UPLOAD_LIST="${UPLOAD_LIST} put -O ${{ matrix.config.upload_directory }} $q;"
        done
        lftp -e "${UPLOAD_LIST} exit" -u ${{ secrets.builds_login }},${{ secrets.builds_password }} ${{ secrets.builds_host }}

    - name: List Build Directory
      if: always()
      shell: bash
      run: |
        git status
        ls -lR build
